/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Tt]emp/[Uu]nityLockfile
/Library/CurrentLayout-default.dwlt
/Library/ArtifactDB
/Library/InspectorExpandedItems.asset
/Library/SourceAssetDB
/Library/StateCache/
/Temp/
